html {
    display: flex;
    justify-content: center;
}

body {
    background-image: url(../images/background.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    background-color: transparent;
    width: 80%;
    height: 40em;
  }
  
  .grid-element {
    position: relative;
    overflow: hidden;
  }
  
  .grid-element img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .grid-element:hover img {
    transform: scale(1.2);
  }

  .one {
    grid-row: 1 / 7;
    grid-column: 1 / 3;
  }

  .two {
    grid-row: 1 / 4;
    grid-column: 3 / 5;
  }

  .three {
    grid-row: 4 / 7;
    grid-column: 3 / 4;
  }

  .four {
    grid-row: 1 / 7;
    grid-column: 6 / 7;
  }

  .five {
    grid-row: 4 / 7;
    grid-column: 4 / 6;
  }

  .six {
    grid-row: 1 / 4;
    grid-column: 5 / 6;
  }