*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(/images/background.jpg);
    max-width: 1400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}





